# Worksheet 2B: Tuples

---
## Q1

There are a few ways in terms of syntax to create a tuple:

In [ ]:
t1 = ("a", "b", "c")
print(t1)
print(type(t1))

In [ ]:
t1 = "a", "b", "c"
print(t1)
print(type(t1))

### Q1 a

How would you create a tuple `t2` with a single element `"a"` using:

The syntax with brackets:

In [ ]:
# answer:

In [ ]:
print(t2)
print(type(t2))

The syntax without brackets:

In [ ]:
# answer:

In [ ]:
print(t2)
print(type(t2))

### Q1 b

Another option is to initialise a tuple is to use the built-in `tuple` function. Create a tuple `t3` with a single element `"a"` using the `tuple` function.

In [ ]:
# answer:

In [ ]:
print(t3)
print(type(t3))

### Q1 c

Let's try using the `tuple` function to create a tuple with multiple elements:

In [ ]:
t4 = tuple("a", "b", "c")

Why does this give an error?

*answer:*

### Q1 d

Let's now try the following:

In [ ]:
t4 = tuple("abc")
print(t4)
print(type(t4))

We can see that the string `"abc"` is split into individual characters to form a tuple of 3 elements. Why is this?

*answer:*

### Q1 e

What's another way to create a tuple using the `tuple` function? Try this by creating a new tuple `t5`.

In [ ]:
# answer:

---
## Q2

How do you check for the length of `t1`?

In [ ]:
# answer:

---
## Q3

Accessing elements in a tuple works very similar to lists.

### Q3 a

How would you access the first element of `t1`?

In [ ]:
# answer:

### Q3 b

How would you access the first two elements of `t1`?

In [ ]:
# answer:

---
## Q4

Python provides the `index` function that allows us to search for a particular element and it will return its index if found. 

Try this out by running the following statement:

In [ ]:
t1.index("a")

Now try searching for an element that is not present in the tuple. What error do you get?

In [ ]:
# answer:

---
## Q5
We said tuples are immutable. Let's double-check this!

### Q5 a

Try to reassign `t1[0]` to another value. What error do you get?

In [ ]:
# answer:

### Q5 b

Try also appending an item to `t1`. What error do you get?

In [ ]:
# answer:

### Q5 c

However, the following statement doesn't give any errors:

In [ ]:
t1 = ("x",) + t1[1:]
t1

Why are we able to modify `t1` now?

*answer:*

---
## Q6

Try out the following statements:

In [ ]:
t1 + t2

In [ ]:
t1, t2

Is there a difference between the two? Explain your answer?

*answer:*

---
## Q7

Try the subtracting `t2` from `t1`. What error do you get?

In [ ]:
# answer:

---
## Q8

Try the comparison operators: '<' '>' and '==' with two different/same tuples. How are the elements in a tuple compared to each other? *Hint: for this, it might be easier to use tuples containing integer values.*

*answer:*

---
## Appendix

Try out some additional methods that are available for the _Tuple_ Data Structure and familiarise yourself with them:

https://docs.python.org/3.9/library/stdtypes.html#tuples