# Worksheet 2C: Sets

---
## Q1

Sets are an unordered collection of unique elements. We can construct them by using the `set` function:

In [ ]:
a = set()
a

### Q1 a

Check the type of `a`:

In [ ]:
# answer:

### Q1 b

To add elements to a set, we use the method `add` and pass on the element as a parameter.

Add the integer `1` to `a`. Then add the string `"hello"`:

In [ ]:
# answer:

### Q1 c

Try adding either `1` or `"hello"` again.

What happens?

*answer:*

---
## Q2

Let's try to add multiple elements to `a` in one call:

In [ ]:
a.add("a", "b")
a

### Q2 a

It seems that the `add` function only accepts 1 argument. Try passing the elements `"a"` and `"b"` as a list to the `add` function:

In [ ]:
# answer:

What is different in this error from the previous one?

*answer:*

### Q2 c

Finally, try adding the elements to `a` by passing them as a tuple:

In [ ]:
# answer:

Why does this work?

*answer:*

### Important sidenote

With sets you can add different types of elements because they are unordered. So Python does not need to compare the values of `1` as an integer and `"d"` as a string. In fact, if you try the following you will get an error:

In [ ]:
"d" < 1

If sets were an ordered datatype, we would have a problem adding elements which cannot be compared to each other!

---
## Q3

Sets have another function to add elements to it: `update`.

### Q3 a

Write the code to add `"x"` to set `a` using the `update` function.

In [ ]:
# answer:

### Q3 b

Now, try the same function but instead pass the list `[1, 2, 3]` as a parameter to the update function.

In [ ]:
# answer:

What is happening?

*answer:*

---
## Q4

### Q4 a

Let's create the following list:

In [ ]:
list1 = [1, 2, 20, 6, 210]

It is possible to have a list of elements and convert it into a set by passing the list as a parameter to the `set` function. Create the a new set using `list1`.

In [ ]:
# answer:

What is happening to the order in the set?

*answer:*

### Q4 b

Initialise the a set from a list again but this time, include a string in the list:

In [ ]:
list2 = [1, "two", 4, 3, 5, 0.3]

In [ ]:
# answer:

Now, if you initialise a set as follows:

In [ ]:
set("two")

What happens differently to the way the string is handled?

*answer:*

---
## Q5

Try accessing a set element in a similar way as we would with a list.

In [ ]:
# answer:

Why does this happen?

*answer:*

---
## Q6

Try the following code:

In [ ]:
s2 = {1, 2, 3}
print(1 in s2)
print(4 in s2)

What does the `in` keyword do? Feel free to change the values above to see what's happening.

*answer:*

---
## Q7

There are some other methods that we use with sets. Try `remove` and `discard` on a set â€” try removing elements that are in the set and those that aren't in the set.

What do the methods do? And in what ways are they different?

*answer:*

---
## Q8

Try the `pop` function on a set.

What does it do?

*answer:*

---
## Appendix

Try out some additional methods that are available for the Set Data Structure and familiarise yourself with them:

https://docs.python.org/3.9/library/stdtypes.html#set