# Worksheet 2B: Tuples

---
## Q1

There are a few ways in terms of syntax to create a tuple:

In [5]:
t1 = ("a", "b", "c")
print(t1)
print(type(t1))

('a', 'b', 'c')
<class 'tuple'>

In [12]:
t1 = "a", "b", "c"
print(t1)
print(type(t1))

('a', 'b', 'c')
<class 'tuple'>

### Q1 a

How would you create a tuple `t2` with a single element `"a"` using:

The syntax with brackets:

In [13]:
# answer:
t2 = ("a",)

In [14]:
print(t2)
print(type(t2))

('a',)
<class 'tuple'>

The syntax without brackets:

In [27]:
# answer:
t2 = "a",

In [28]:
print(t2)
print(type(t2))

('a',)
<class 'tuple'>

### Q1 b

Another option is to initialise a tuple is to use the built-in `tuple` function. Create a tuple `t3` with a single element `"a"` using the `tuple` function.

In [29]:
# answer:
t3 =tuple("a")

In [30]:
print(t3)
print(type(t3))

('a',)
<class 'tuple'>

### Q1 c

Let's try using the `tuple` function to create a tuple with multiple elements:

In [34]:
t4 = tuple("a", "b", "c")

TypeError: tuple expected at most 1 argument, got 3

Why does this give an error?

*answer:*
Double round brackets are needed when one had multiple elements in a single tuple function

### Q1 d

Let's now try the following:

In [38]:
t4 = tuple("abc")
print(t4)
print(type(t4))

('a', 'b', 'c')
<class 'tuple'>

We can see that the string `"abc"` is split into individual characters to form a tuple of 3 elements. Why is this?

*answer:*
This is because the tuple function takes up the characters in a string separately

### Q1 e

What's another way to create a tuple using the `tuple` function? Try this by creating a new tuple `t5`.

In [21]:
# answer:
t5 =tuple()

---
## Q2

How do you check for the length of `t1`?

In [41]:
# answer:
len(t1)

3

---
## Q3

Accessing elements in a tuple works very similar to lists.

### Q3 a

How would you access the first element of `t1`?

In [44]:
# answer:
t1[0]

'a'

### Q3 b

How would you access the first two elements of `t1`?

In [59]:
# answer:
t1[0:2]

('a', 'b')

---
## Q4

Python provides the `index` function that allows us to search for a particular element and it will return its index if found. 

Try this out by running the following statement:

In [61]:
t1.index("a")

0

Now try searching for an element that is not present in the tuple. What error do you get?

In [62]:
# answer: Value error prompting the user that the value entered isn't a tuple
t1.index("z")

ValueError: tuple.index(x): x not in tuple

---
## Q5
We said tuples are immutable. Let's double-check this!

### Q5 a

Try to reassign `t1[0]` to another value. What error do you get?

In [63]:
# answer: Type error occurs, as tuple are immutable 
t1[0] = "z"

TypeError: 'tuple' object does not support item assignment

### Q5 b

Try also appending an item to `t1`. What error do you get?

In [7]:
# answer: Attribute Error occurs
t1.append("d",)

AttributeError: 'tuple' object has no attribute 'append'

### Q5 c

However, the following statement doesn't give any errors:

In [17]:
t1 = ("x",) + t1[1:]
t1

('x', 'b', 'c')

Why are we able to modify `t1` now?

*answer:*
This is modified through the use of nested tuples, a new tuple with a single variable is created ("x",), and is now is nested to t1

---
## Q6

Try out the following statements:

In [15]:
t1 + t2

('a', 'b', 'c', 'a')

In [16]:
t1, t2

(('a', 'b', 'c'), ('a',))

Is there a difference between the two? Explain your answer?

*answer:*
initially t1+t2 are printed out and added together
however in t1,t2 a new tuple is being created , whereby the elements are two nested tuples (t1 and t2)

---
## Q7

Try the subtracting `t2` from `t1`. What error do you get?

In [18]:
# answer: Type error, since tuples can not be subtracted
t2-t1

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

---
## Q8

Try the comparison operators: '<' '>' and '==' with two different/same tuples. How are the elements in a tuple compared to each other? *Hint: for this, it might be easier to use tuples containing integer values.*

In [1]:
t6 = 1,2,3,4,5,6,7,8
t7 = 21,31,41,51,61
t8 = 1,2,3,4,5,6,7
t6>t7

False

In [34]:
t6 == t8

True

In [24]:
t6<t7

True

*answer:*
comparison operators work with tuples like normal integer variables

---
## Appendix

Try out some additional methods that are available for the _Tuple_ Data Structure and familiarise yourself with them:

https://docs.python.org/3.9/library/stdtypes.html#tuples

In [ ]:
-