# Worksheet 2C: Sets

---
## Q1

Sets are an unordered collection of unique elements. We can construct them by using the `set` function:

In [8]:
a = set()
a

set()

### Q1 a

Check the type of `a`:

In [9]:
# answer:
print(type(a))

<class 'set'>

### Q1 b

To add elements to a set, we use the method `add` and pass on the element as a parameter.

Add the integer `1` to `a`. Then add the string `"hello"`:

In [10]:
# answer:
a.add(1)
a.add("hello")
a

{1, 'hello'}

### Q1 c

Try adding either `1` or `"hello"` again.

In [11]:
a.add("hello")
a

{1, 'hello'}

What happens?

*answer:*

Since the sting "hello" already exist in the set, the set remains the same.
This is because sets don't allow duplication

---
## Q2

Let's try to add multiple elements to `a` in one call:

In [12]:
a.add("a", "b")
a

TypeError: set.add() takes exactly one argument (2 given)

### Q2 a

It seems that the `add` function only accepts 1 argument. Try passing the elements `"a"` and `"b"` as a list to the `add` function:

In [13]:
# answer:
a.add(["a","b"])

TypeError: unhashable type: 'list'

What is different in this error from the previous one?

*answer:*

The first error occurs, as 2 arguments instead of 1  are present. however the add function only allows for 1 argument at a time
List are an unhashable data type (doesn't have a hash argument), resulting in the second error

### Q2 c

Finally, try adding the elements to `a` by passing them as a tuple:

In [16]:
# answer:
a.add(("a","b"))
a

{('a', 'b'), 1, 'a', 'hello'}

Why does this work?

*answer:*

Tuples are considered to be 1 element and are hashabl, therefore they can be added to sets

### Important sidenote

With sets you can add different types of elements because they are unordered. So Python does not need to compare the values of `1` as an integer and `"d"` as a string. In fact, if you try the following you will get an error:

In [18]:
"d" < 1

TypeError: '<' not supported between instances of 'str' and 'int'

If sets were an ordered datatype, we would have a problem adding elements which cannot be compared to each other!

---
## Q3

Sets have another function to add elements to it: `update`.

### Q3 a

Write the code to add `"x"` to set `a` using the `update` function.

In [19]:
# answer:
a.update("x")
a

{('a', 'b'), 1, 'a', 'hello', 'x'}

### Q3 b

Now, try the same function but instead pass the list `[1, 2, 3]` as a parameter to the update function.

In [20]:
# answer:
a.update([1,2,3])
a

{('a', 'b'), 1, 2, 3, 'a', 'hello', 'x'}

What is happening?

*answer:*
Update function converts the list into a set, and updates it into the original set a

---
## Q4

### Q4 a

Let's create the following list:

In [21]:
list1 = [1, 2, 20, 6, 210]

It is possible to have a list of elements and convert it into a set by passing the list as a parameter to the `set` function. Create the a new set using `list1`.

In [23]:
# answer:
b = set(list1)
b

{1, 2, 6, 20, 210}

What is happening to the order in the set?

*answer:*
Order of numbers is changed to ascending order

### Q4 b

Initialise the a set from a list again but this time, include a string in the list:

In [25]:
list2 = [1, "two", 4, 3, 5, 0.3]

In [27]:
# answer:
c = set(list2)
c

{0.3, 1, 3, 4, 5, 'two'}

Now, if you initialise a set as follows:

In [28]:
set("two")

{'o', 't', 'w'}

What happens differently to the way the string is handled?

*answer:*
The string gets separated into characters, and the set is outputted alphabetically

---
## Q5

Try accessing a set element in a similar way as we would with a list.

In [35]:
# answer:
c[0]

TypeError: 'set' object is not subscriptable

Why does this happen?

*answer:*
An error occurs as set object is not subscriptable (an object which can contain other objects inside it)

---
## Q6

Try the following code:

In [54]:
s2 = {1, 2, 3}
print(1 in s2)
print(4 in s2)

True
False

What does the `in` keyword do? Feel free to change the values above to see what's happening.

*answer:*
The in keywords checks whether sa value is found inside of something else

---
## Q7

There are some other methods that we use with sets. Try `remove` and `discard` on a set — try removing elements that are in the set and those that aren't in the set.

In [52]:
s2.remove(3)
s2
s2.remove(12)
s2

KeyError: 12

In [51]:
s2.discard(1)
s2
s2.discard(13)
s2

{2, 3}

What do the methods do? And in what ways are they different?

*answer:*
Both methods allow the user to remove elements from a set. However, the remove() method will raise an error if the specified item does not exist,whilst the discard() method will not.

---
## Q8

Try the `pop` function on a set.

In [56]:
s2.pop()
s2

{3}

What does it do?

*answer:*
Removes the first element present in the set

---
## Appendix

Try out some additional methods that are available for the Set Data Structure and familiarise yourself with them:

https://docs.python.org/3.9/library/stdtypes.html#set

In [ ]:
-